<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      Activities To-Do
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <ion-slides pager>
        <ion-slide *ngFor="let slide of slides">
            <ion-list>
                <ion-list-header>
                  {{slide.title}}
                </ion-list-header>
            
                <ion-item>
                  <ion-label>{{slide.activity}}</ion-label>
                  <ion-checkbox color="secondary" checked="false"></ion-checkbox>
                </ion-item>
            
              </ion-list>
        </ion-slide>
      </ion-slides>

<!--   <ion-list>
    <ion-list-header>
      Activities
    </ion-list-header>

    <ion-item *ngFor="let todo of todos">
      <ion-label>{{todo.activity}}</ion-label>
      <ion-checkbox color="secondary" checked="false"></ion-checkbox>
    </ion-item>

  </ion-list> -->

  <button ion-button item-end icon-right end full>
    Add new activity
    <ion-icon name="add-circle"></ion-icon>
  </button>

</ion-content>